<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>SweeTTooth</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins&display=swap" rel="stylesheet">
        
        <link rel ="stylesheet" href ="{%static '/css/about.css'%}"/>
        <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    
    </head>

    <body>
        <div class ="section">
            <div class="container">
                <div class="title">
                    <h1>About Us</h1>

                </div>
                <div class="content">
                    <div class ="article">
                        <h3>
                            Duis do id reprehenderit aliqua magna exercitation. Voluptate sint incididunt irure consectetur sint duis ad cillum commodo duis ullamco anim qui. 
                            Dolor fugiat ex cupidatat voluptate nostrud.Ipsum exercitation cupidatat pariatur ut magna et minim quis nulla excepteur ad ut laborum.
                           
                        </h3>

                        <p>  Mollit esse adipisicing laborum nisi ullamco laboris adipisicing culpa Lorem id voluptate laboris cupidatat. Incididunt reprehenderit esse velit consectetur veniam.
                             Id ullamco eu cupidatat ullamco mollit laboris exercitation magna.Incididunt mollit reprehenderit irure qui tempor. Aliqua sint Lorem ex mollit proident consequat enim eu veniam Lorem consectetur amet aliquip laboris.
                             Fugiat occaecat sunt aute consectetur labore Lorem cillum anim tempor enim enim ut.Laborum velit cillum amet nulla laboris anim non eu.

                               <br/>
                             Quis commodo aute eiusmod ex nulla mollit id nostrud cillum ea. Ad aliqua in veniam ipsum tempor. Ullamco mollit occaecat laboris magna dolore labore excepteur. Reprehenderit occaecat laboris laborum fugiat ipsum minim mollit enim ex nisi eiusmod irure velit commodo. Sint duis occaecat eiusmod dolor nulla nostrud irure veniam aliquip. Anim cupidatat ut occaecat incididunt duis adipisicing dolore amet et duis magna. Amet ullamco consequat irure non consequat aute ipsum.
                            </p>
                       <div class ="button">
                            <a href ="http://localhost:8000/contact/" >Contact</a>
                            <a href ="http://localhost:8000/">Home</a>
                        </div>               
                    </div>
                </div>
                <div class ="image-section">
                    <img src="{% static '/images/profile.jpg' %}">
                </div>
                <div class= "social">
                    <a href="https://facebook.com" target="_blank"><i class ="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class ="fab fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class ="fab fa-instagram"></i></a>
                    
        </div>
        
    </body>

    </html>