
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
    
        <title>Sweet Tooth</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins&display=swap" rel="stylesheet">
        
      
      <link rel ="stylesheet" href = "{% static '/css/contact.css' %}"/>
      <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
      
            
    
    </head>
    <body>
      <section class ="contact">
         <div class="content">
          <h2> Contact Us</h2>
          <p>Officia laboris ex pariatur laborum esse pariatur irure sunt qui est excepteur.
            Commodo elit ullamco ea excepteur qui dolor sunt laborum aliqua ipsum incididunt mollit velit mollit.
          </p>
        </div>
        <div class = "container">
          <div class ="contactinfo">


            <div class = "box">
            
                <div class="icon"><i class="bi bi-geo-alt-fill"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg></div>
                  <div class = "text">
                   <h3>Address</h3>
                   <p>785 Sunflower Street<br>
                     Yangon,Myanmar</br></p> 
                  </div>
              </div>

              <div class = "box">
                <div class="icon"><i class="bi bi-telephone-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg></div>
                <div class = "text">
                  <h3>Phone</h3>
                  <p>+95962023254</p>
                 </div>
                </div>

                <div class = "box">
                  <div class="icon"><i class="bi bi-envelope-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg></i>
                  </div>   
                  <div class = "text">
                    <h3>Email</h3>
                    <p>Sweet@gamil.com</p>
                    </div>
                  </div>

       

                </div>
                <div class ="contactform">
                  <form>
                    <h2>Send message</h2>
                    <div class ="inputbox">
                      <input type = "text" name ="" required = "required" ><span>Your Name</span>
                      
                    </div>

                    <div class ="inputbox">
                      <input type = "tel" name ="" required = "required"><span>PhoneNumber</span>
                    </div>

                    <div class ="inputbox">
                      <input type = "text"  name ="" required = "required"><span>EmailAddress</span>
                      
                    </div>

                    <div class ="inputbox">
                      <textarea required = "required" ></textarea><span>Your message</span>
                      
                    </div>

                    <div class ="inputbox">
                      <input type = "submit" name="" value="Send">
                      <i class="bi bi-house-door-fill"> <a href ="http://localhost:8000/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                      </i>
                      </div>

                   
                  </form>



                </div>


              </div>
            </div>   
  
  
  
      </section>
      <div class = "footer">
      <div class="copyright">
        &copy; 2023 by Maxiebrown. Copy from Dessert.com.
    </div>
  </div>
    </body>
  
    </html>